@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow Condensed:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* cygni brand */
:root {
  --font-fallback: "Barlow";
  --font-barlow-condensed: "Barlow Condensed";
  --cygni-rose-quartz: #eab8b2;
  --cygni-purbeck-stone: #e3d9d7;
  --cygni-galaxy-blue: #000735;
  --cygni-copy-black: #231f20;
}

html {
  font-family: var(--font-fallback);
  letter-spacing: 0.05rem;
}
h1,
h2,
h3 {
  font-family: var(--font-barlow-condensed);
}
body {
  color: #000735;
  background: linear-gradient(
    to right,
    rgba(234, 184, 178, 0.5),
    rgba(227, 217, 215, 0.5),
    rgba(234, 184, 178, 0.5)
  );
}
