@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-fallback: "Barlow";
  --font-barlow-condensed: "Barlow condensed";
}

html {
  font-family: var(--font-fallback);
  letter-spacing: 0.05rem;
}
h1,
h2,
h3 {
  font-family: var(--font-barlow-condensed);
}
body {
  color: #000735;
  background: linear-gradient(120deg, #eab8b2, #e3d9d7);
}
